<div class="container-fluid">
    <div class="container  ">
        <!-- Heading Div  -->
        <div class="m-auto d-flex justify-content-center col-md-12 flex-column mt-4 ">
            <h2 class="text-center mb-4">Need Help? Contact Us Now </h2>
            <div class="col-md-6 m-auto">
                <p class="text-center mb-3">Thankyou for your interest. Please fill out the form and we will get back to you promptly regarding to your request</p>
            </div>
        </div>

        <div class="row mt-5 ">

            <svg viewBox="0 0 1440 320 ">
                <path fill="#0099ff " fill-opacity="1 " d="M0,320L34.3,298.7C68.6,277,137,235,206,224C274.3,213,343,235,411,218.7C480,203,549,149,617,154.7C685.7,160,754,224,823,234.7C891.4,245,960,203,1029,160C1097.1,117,1166,75,1234,96C1302.9,117,1371,203,1406,245.3L1440,288L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z "></path>
              </svg>
            <div class=" col-md-6   me-lg-5 ">
                <div class="md-col-4 contact py-5">
                    <div class="form-group ">
                        <h4 class="text-center mb-4"> Fill this Form</h4>
                        <form action=" " class=" ">
                            <div class="input-group mb-3 form-input ">
                                <input type="text " class="form-control" aria-label="Sizing example input " aria-describedby="inputGroup-sizing-default " placeholder="Enter Your Name">
                            </div>
                            <div class="input-group mb-3 form-input ">
                                <input type="email " class="form-control" aria-label="Sizing example input " aria-describedby="inputGroup-sizing-default " placeholder=" Enter Your Email">
                            </div>
                            <div class="input-group mb-3 form-input ">
                                <input type="tel " class="form-control" aria-label="Sizing example input " aria-describedby="inputGroup-sizing-default " placeholder=" Enter Your Phone Number">
                            </div>
                            <div class="form-input mb-3">
                                <textarea class="form-control" placeholder="Enter Message" id="floatingTextarea2 " style="height: 100px "></textarea>
                            </div>
                            <div class="form-floating form-input  ">
                                <button class="btn btn-contact w-100 " type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-5 row-2 ">
                <h4 class="mb-5">We are Available <span style="color:#F06543; border-left: 2px solid; padding-left: 4px;">24/7</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, impedit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, eaque?</p>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faPhone" class="fontwawesomeicons"></fa-icon>
                    <span>++123456789</span>
                </div>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faEmail" class="fontwawesomeicons"></fa-icon>
                    <span>support@xyz.com</span>
                </div>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faLocation" class="fontwawesomeicons"></fa-icon>
                    <span>339 McDermott Points Hettingerhaven, NV 15283</span>
                </div>
                <hr>
            </div>
        </div>
            <div class="col-md-5 mt-5 row-2 ">
                <h4 class="mb-5">We are Available <span style="color:#F06543; border-left: 2px solid; padding-left: 4px;">24/7</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, impedit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, eaque?</p>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faPhone" class="fontwawesomeicons"></fa-icon>
                    <span>++123456789</span>
                </div>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faEmail" class="fontwawesomeicons"></fa-icon>
                    <span>support@xyz.com</span>
                </div>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faLocation" class="fontwawesomeicons"></fa-icon>
                    <span>339 McDermott Points Hettingerhaven, NV 15283</span>
                </div>
                <hr>
            </div>
        </div>
            <div class="col-md-5 mt-5 row-2 ">
                <h4 class="mb-5">We are Available <span style="color:#F06543; border-left: 2px solid; padding-left: 4px;">24/7</span></h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, impedit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, eaque?</p>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faPhone" class="fontwawesomeicons"></fa-icon>
                    <span>++123456789</span>
                </div>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faEmail" class="fontwawesomeicons"></fa-icon>
                    <span>support@xyz.com</span>
                </div>
                <div class="c_contact mb-3 ">
                    <fa-icon [icon]="faLocation" class="fontwawesomeicons"></fa-icon>
                    <span>339 McDermott Points Hettingerhaven, NV 15283</span>
                </div>
                <hr>
            </div>
        </div>

    </div>
</div>