<!-- <div class="container-fluid main-section" style="margin-top: 4.8rem">
  <div class="row d-flex justify-content-around">
    <div class="col-lg-4">
      <div class="card mb-3 mt-3">
        <img src="./assets/user-img.jpg.jpeg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col-lg-4 mt-4">
      <h1 class="heading text-white">
        <strong> About Us</strong>
      </h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe,
        laborum.
      </p>
      <br />
      <button type="button" class="btn btn-warning mt-3">Read more</button>
    </div>
  </div>
</div>
<div>
  <div class="row d-flex justify-content-around">
    <div class="col-lg-3 mt-4 text-center text-white">
      <h2 class="text-white">STRETEGY</h2>
      <p style="color: white">
        Lorem ipsum dolor sit <br />
        amet consectetur adipisicing <br />
        elit. Sunt, fuga?
      </p>
    </div>

    <div class="col-lg-3 mt-4 text-center text-white">
      <h2 class="text-white">DESIGN</h2>
      <p>
        Lorem ipsum dolor sit <br />
        amet consectetur adipisicing <br />
        elit. Sunt, fuga?
      </p>
    </div>
    <div class="col-lg-3 mt-4 text-center">
      <h2 style="color: white">DEVELOPMENT</h2>
      <p style="color: white">
        Lorem ipsum dolor sit <br />
        amet consectetur adipisicing <br />
        elit. Sunt, fuga?
      </p>
    </div>
  </div>
</div>
<div
  class="container-fluid"
  style="margin-top: 0; background-color: rgb(66, 36, 184)"
>
  <div class="row d-flex justify-content-around mb-3">
    <div class="col-lg-12 mt-4 text-center">
      <h1 style="color: white; font-size: 30px">Our investors</h1>
    </div>

    <div class="col-lg-2 mt-4 mb-4 text-center">
      <div class="card" style="width: 14rem">
        <img src="./assets/user-img.jpg.jpeg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col-lg-2 mt-4 mb-4 text-center">
      <div class="card" style="width: 14rem">
        <img src="./assets/user-img.jpg.jpeg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col-lg-2 mt-4 mb-4 text-center">
      <div class="card" style="width: 14rem">
        <img src="./assets/user-img.jpg.jpeg" class="card-img-top" alt="..." />
      </div>
    </div>

    <div class="col-lg-2 mt-4 mb-4 text-center">
      <div class="card" style="width: 14rem">
        <img src="./assets/user-img.jpg.jpeg" class="card-img-top" alt="..." />
      </div>
    </div>
    <div class="col-lg-2 mt-4 text-center mb-4">
      <div class="card" style="width: 14rem">
        <img src="./assets/user-img.jpg.jpeg" class="card-img-top" alt="..." />
      </div>
    </div>
  </div>
  <div class="col-lg-12 text-center">
    <a style="color: white" href="#">image by freepic</a>
  </div>
</div>
<div
  class="container-fluid"
  style="margin-top: 0; background-color: rgb(66, 36, 184)"
>
  <div class="row d-flex justify-content-around">
    <div class="col-lg-4 mt-5">
      <h1 class="heading mt-5" style="color: white; font-size: 30px">
        <strong> About Us</strong>
      </h1>
      <p style="color: white">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe,
        laborum.
      </p>
      <a href="" style="color: black">Image from pic</a>
      <br />
      <button type="button" class="btn btn-warning mt-3">Read more</button>
    </div>
    <div class="col-lg-4 mt-4">
      <p style="color: white"><strong>RECH, CAPTIVATE & CONVERT</strong></p>
      <p style="color: white">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe,
        laborum.
      </p>
      <div class="col-lg-2 mt-4 text-center mb-4">
        <div class="card" style="width: 14rem">
          <img
            src="./assets/user-img.jpg.jpeg"
            class="card-img-top"
            alt="img"
          />
        </div>
      </div>
    </div>
    <div>
      <div></div>
    </div>
  </div>
</div> -->

<div class="container-fluid main-section px-0">
  <!-- Section 1 -->
  <div class="section-1 primary-bg d-flex justify-content-center">
    <div class="row border shadow-sm bg-light w-75">
      <div class="col-12 col-lg-6 p-5">
        <img
          src="//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/1241022bc0e057bf8937c384/595119f1-6ce3-edb5-2421-cc21a4b24655.jpg"
          alt=""
          class="w-100 rounded shadow"
        />
      </div>
      <div class="col-12 col-lg-6 p-5">
        <div class="py-4">
          <h1 class="fs-1 lh-55 fw-bolder py-4">
            Turn your ideas to live web experiences
          </h1>
          <p class="fs-16 lh-24 fst-italic pb-3">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident
            
          </p>
          <button class="py-3 px-4 ant-btn-primary border-0 rounded fs-16">
            Shop Here
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Text Section  -->
  <div class="text-center m-auto py-5 primary-bg">
    <span class="fs-50 lh-55 text-white d-inline-block w-50 text-1"
      >We maximize added value for our amazing clients</span
    >
  </div>
  <!-- Section - 2  -->
  <div class="section-2 d-flex justify-content-center">
    <div class="row w-75">
      <div class="col-12 col-sm-6 mb-3 mb-lg-0 col-md-6 col-lg-3">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center"
          >
            <div class="logo-icon text-center position-relative">
              <div class="rounded-circle bg-warning m-auto"></div>
              <fa-icon
                [icon]="faChess"
                class="fontwawesomeicons primary-color position-absolute"
              ></fa-icon>
            </div>
            <p class="fs-24 lh-20 primary-color fw-bolder">STRATEGY</p>
            <p class="fs-14 lh-20 text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam
              nunc justo sagittis suscipit ultrices
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-3 mb-lg-0 col-md-6 col-lg-3">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center"
          >
            <div class="logo-icon text-center position-relative">
              <div class="rounded-circle bg-warning m-auto"></div>
              <fa-icon
                [icon]="faGlobe"
                class="fontwawesomeicons primary-color position-absolute"
              ></fa-icon>
            </div>
            <p class="fs-24 lh-20 primary-color fw-bolder">MISSION</p>
            <p class="fs-14 lh-20 text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam
              nunc justo sagittis suscipit ultrices
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-3 mb-lg-0 col-md-6 col-lg-3">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center"
          >
            <div class="logo-icon text-center position-relative">
              <div class="rounded-circle bg-warning m-auto"></div>
              <fa-icon
                [icon]="faFile"
                class="fontwawesomeicons primary-color position-absolute"
              ></fa-icon>
            </div>
            <p class="fs-24 lh-20 primary-color fw-bolder">DEVELOPMENT</p>
            <p class="fs-14 lh-20 text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam
              nunc justo sagittis suscipit ultrices
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 mb-3 mb-lg-0 col-md-6 col-lg-3">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center"
          >
            <div class="logo-icon text-center position-relative">
              <div class="rounded-circle bg-warning m-auto"></div>
              <fa-icon
                [icon]="faHandShake"
                class="fontwawesomeicons primary-color position-absolute"
              ></fa-icon>
            </div>
            <p class="fs-24 lh-20 primary-color fw-bolder">TEAM</p>
            <p class="fs-14 lh-20 text-center">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam
              nunc justo sagittis suscipit ultrices
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section - 3  -->
  <div class="section-3 d-flex justify-content-center">
    <div class="row w-75">
      <div class="col-12 col-sm-12 col-md-6 p-5">
        <p class="fs-32 lh-45 py-5">CUSTOM WEB DESIGN</p>
        <p class="fs-16 lh-32 py-3">
          Sample text. Click to select the text box. Click again or double click
          to start editing the text. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
          
        </p>
        <button class="py-3 px-4 ant-btn-primary border-0 rounded fs-16">
          Shop Here
        </button>
      </div>
      <div class="col-12 col-sm-12 col-md-6 p-5">
        <div class="card mb-3 bg-transparent border-0">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="logo-icon2 text-center ml-4">
                <div
                  class="rounded-circle bg-warning d-flex justify-content-center align-items-center mt-3 me-0"
                >
                  <fa-icon
                    [icon]="faChess"
                    class="fontwawesomeicons fs-3 text-white"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fs-24 lh-32">Sample Headline</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-transparent border-0">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="logo-icon2 text-center ml-4">
                <div
                  class="rounded-circle bg-warning d-flex justify-content-center align-items-center mt-3 me-0"
                >
                  <fa-icon
                    [icon]="faChess"
                    class="fontwawesomeicons fs-3 text-white"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fs-24 lh-32">Sample Headline</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3 bg-transparent border-0">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="logo-icon2 text-center ml-4">
                <div
                  class="rounded-circle bg-warning d-flex justify-content-center align-items-center mt-3 me-0"
                >
                  <fa-icon
                    [icon]="faChess"
                    class="fontwawesomeicons fs-3 text-white"
                  ></fa-icon>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title fs-24 lh-32">Sample Headline</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section 4  -->
  <div class="section-1 primary-bg d-flex justify-content-center">
    <div class="row shadow-lg w-75">
      <div class="col-12 col-sm-12 col-md-6 p-5">
        <img
          src="https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/64ba0e89e1d15981bfab92da/ddd.jpg"
          alt=""
          class="w-100 rounded shadow-sm"
        />
      </div>
      <div class="col-12 col-sm-12 col-md-6 p-5">
        <div class="py-4">
          <h1 class="fs-1 lh-55 fw-bolder py-4 text-white">About Us</h1>
          <p class="fs-32 lh-55 fw-400 pb-3 text-white">
            We create ideas and solutions in the field of advertising, websites
            and e-commerce, design and online marketing.
          </p>
          
          <button
            class="py-3 px-4 ant-btn-primary custom-button border-0 rounded fs-16"
          >
            Shop Here
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Section 5  -->
  <div class="section-1 primary-bg d-flex justify-content-center">
    <div class="row w-75">
      <div class="col-sm-4">
        <p class="fs-1 pb-3 text-white fw-700">STRATEGY</p>
        <p class="fs-5 pb-2 text-white">Analytics and Research</p>
        <p class="fs-5 pb-2 text-white">Interactive Workshops</p>
        <p class="fs-5 pb-2 text-white">Brand Strategy</p>
        <p class="fs-5 pb-2 text-white">Content Strategy</p>
        <p class="fs-5 pb-2 text-white">Digital Strategy</p>
      </div>
      <div class="col-sm-4">
        <p class="fs-1 pb-3 text-white fw-700">DESIGN</p>
        <p class="fs-5 pb-2 text-white">Creative Direction</p>
        <p class="fs-5 pb-2 text-white">Brand Guides</p>
        <p class="fs-5 pb-2 text-white">Brand Strategy</p>
        <p class="fs-5 pb-2 text-white">Prototypes</p>
        <p class="fs-5 pb-2 text-white">Visual Asset Creation</p>
      </div>
      <div class="col-sm-4">
        <p class="fs-1 pb-3 text-white fw-700">DEVELOPMENT</p>
        <p class="fs-5 pb-2 text-white">System Architecture Design</p>
        <p class="fs-5 pb-2 text-white">Interactive Workshops</p>
        <p class="fs-5 pb-2 text-white">Full-Stack Development</p>
        <p class="fs-5 pb-2 text-white">Performance Optimization</p>
        <p class="fs-5 pb-2 text-white">WordPress Development</p>
      </div>
    </div>
  </div>
  <!-- Section 6  -->
  <div class="section-6 primary-bg d-flex justify-content-center">
    <div class="w-75 d-flex gap-2 flex-wrap">
      <div class="agency">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center m-5"
          >
            <div class="text-center mb-3">
              <div class="m-auto">
                <fa-icon
                  [icon]="faChess"
                  class="fontwawesomeicons fs-70"
                ></fa-icon>
              </div>
            </div>
            <p class="fs-20 lh-16 primary-color fw-bolder linear-gradient">
              Strategy
            </p>
            <p class="fs-10 lh-20 text-center">Lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="agency">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center m-5"
          >
            <div class="text-center mb-3">
              <div class="m-auto">
                <fa-icon
                  [icon]="faChess"
                  class="fontwawesomeicons fs-70"
                ></fa-icon>
              </div>
            </div>
            <p class="fs-20 lh-16 primary-color fw-bolder linear-gradient">
              Influence
            </p>
            <p class="fs-10 lh-20 text-center">Lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="agency">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center m-5"
          >
            <div class="text-center mb-3">
              <div class="m-auto">
                <fa-icon
                  [icon]="faChess"
                  class="fontwawesomeicons fs-70"
                ></fa-icon>
              </div>
            </div>
            <p class="fs-20 lh-16 primary-color fw-bolder linear-gradient">
              Marketing
            </p>
            <p class="fs-10 lh-20 text-center">Lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="agency">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center m-5"
          >
            <div class="text-center mb-3">
              <div class="m-auto">
                <fa-icon
                  [icon]="faChess"
                  class="fontwawesomeicons fs-70"
                ></fa-icon>
              </div>
            </div>
            <p class="fs-20 lh-16 primary-color fw-bolder linear-gradient">
              Digitally
            </p>
            <p class="fs-10 lh-20 text-center">Lorem ipsum</p>
          </div>
        </div>
      </div>
      <div class="agency">
        <div class="card">
          <div
            class="card-body d-flex flex-column justify-content-center align-items-center m-5"
          >
            <div class="text-center mb-3">
              <div class="m-auto">
                <fa-icon
                  [icon]="faChess"
                  class="fontwawesomeicons fs-70"
                ></fa-icon>
              </div>
            </div>
            <p class="fs-20 lh-16 primary-color fw-bolder linear-gradient">
              Promote
            </p>
            <p class="fs-10 lh-20 text-center">Lorem ipsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Section-7  -->
  <div class="section-1 primary-bg d-flex justify-content-center">
    <div class="row w-75">
      <div class="col-12 col-lg-6 p-5">
        <div class="py-4">
          <h1 class="fs-1 lh-55 fw-bolder text-white py-4">
            Digital agenc​y
          </h1>
          <p class="fs-24 lh-32 text-white pb-3">
            Ut enim ad minim veniam
            , quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
          </p>
          <button class="py-3 px-4 ant-btn-primary border-0 rounded fs-16 custom-button">
            Shop Here
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-5">
        <div class="">
          <h1 class="text-white fw-700 fs-5">REACH, CAPTIVATE & CONVERT AUDIENCES</h1>
          <p class="text-white fw-400 fs-6">
            Eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>
        <img
          src="https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/7e41d37eaf505fc78217e3ce/dsddd.jpg"
          alt=""
          class="w-100 rounded shadow"
        />
      </div>
    </div>
  </div>
</div>
