<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted ">
    <!-- Section: Links  -->
    <section class="footer_section">
        <div class="container text-center text-md-start p-4 ">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4"> 
                        <img src="../../assets/logo/logo2.png" alt="logo" height="35" style="margin: 0 1em 0 0;">GEEKS </h6>
                        <p> Geek is feature-rich components and beautifully Bootstrap UIKit for developers, built with bootstrap responsive framework.</p>
                </div>
                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 footer_company">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4 "> Company </h6>
                    <p> <a href="#" class="">About</a> </p>
                    <p> <a href="#" class="">Pricing</a> </p>
                    <p> <a href="#" class="">Blog</a> </p>
                    <p> <a href="#" class="">Contact</a> </p>
                </div>
                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 footer_support">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4"> Support</h6>
                    <p><a href="#" class="">Help and Support</a> </p>
                    <p><a href="#" class="">Become Instructor</a> </p>
                    <p><a href="#" class="">Get the app</a> </p>
                    <p><a href="#" class="">Help</a> </p>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="mb-4">
                        <h6 class="fw-bold mb-3">GET IN TOUCH</h6>
                        <p>339 McDermott Points Hettingerhaven, NV 15283</p>
                        <p class="mb-1">Email: <a href="/marketing/pages/career/">support@xyz.com</a></p>
                        <p>Phone: <span class="text-dark fw-semi-bold">(000) 123 456 789</span></p>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4 _copyright">© 2021 Copyright:
        <a class=" fw-bold" style="text-decoration: none;">© 2022 Geeks-UI, Inc. All Rights Reserved</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->