<nz-layout class="">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo d-flex justify-content-center align-items-center rounded shadow">
      <!-- <img src="./assets/logo/favicon-geekshop.png" class="logo-src" alt="" /> -->
      <span class="text-white fw-400">Dashboard Insights</span>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li
        nz-menu-item
        nzIcon="dashboard"
        [nzMatchRouter]="true"
        [routerLink]="['/admin-dashboard/dashboard']"
      >
        <span nz-icon nzType="dashboard"></span> <span>Analytics</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
