.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

nz-header {
  background: #001529;
  color: #fff;
  padding: 0;
  margin-left: 12rem;
}

nz-content {
  margin: 0 1rem 0 14rem ;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
  overflow: initial;
}
.logo-src {
  width: 36px;
  height: 36px;
}
.ant-layout.ant-layout-has-sider {
  margin-top: 4.8rem;
}
nz-sider {
  overflow: auto;
  height: 100%;
  position: fixed;
  left: 0;
}

footer{
  margin-left: 12rem;
}