<div class="section_1">
    <div class="container">
        <div class="align-items-center g-0 row">
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="py-5 py-lg-0">
                    <h1 class="text-white display-4 fw-bold"> Welcome to Geeks UI Learning Application</h1>
                    <p class="text-white-50 mb-4 lead">Hand-picked Instructor and expertly crafted courses, designed for the modern students and entrepreneur.</p>
                    <a class="btn btn_home me-md-2" href="#">Browse Courses</a>
                    <a class="btn btn_home" href="#">Are You Instructor?</a>
                </div>
            </div>
            <div class="text-lg-end text-center col-xl-7 col-lg-6 col-md-12">
                <img src="../../assets/images/hero-img.c1489dfacfd7fadae59a.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="bg-white py-4 shadow-md">
    <div class="container">
        <div class="align-items-center g-0 row">
            <div class="mb-lg-0 mb-4 col-xl-4 col-lg-4 col-md-6">
                <div class="d-flex justify-content-center">
                    <span class="icon-sahpe icon-lg bg-light-warning">
                        <fa-icon [icon]="faVideo" class="fontwawesomeicons"></fa-icon>
                    </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">30,000 online courses</h4>
                        <p class="mb-0">Enjoy a variety of fresh topics</p>
                    </div>
                </div>
            </div>
            <div class="mb-lg-0 mb-4 col-xl-4 col-lg-4 col-md-6">
                <div class="d-flex align-items-center">
                    <span class="icon-sahpe icon-lg bg-light-warning">
                        <fa-icon [icon]="faUsers" class="fontwawesomeicons"></fa-icon>
                    </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Expert instruction</h4>
                        <p class="mb-0">Find the right instructor for you</p>
                    </div>
                </div>
            </div>
            <div class="mb-lg-0 mb-4 col-xl-4 col-lg-4 col-md-6">
                <div class="d-flex align-items-center">
                    <span class="icon-sahpe icon-lg bg-light-warning">
                        <fa-icon [icon]="faClock" class="fontwawesomeicons"></fa-icon>
                    </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Lifetime access</h4>
                        <p class="mb-0">Learn on your schedule</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Third Section  -->
<div class="third-section ">
    <div class="container">
        <div class="mb-4">
            <div class="col heading-cards ">
                <h2 class="mb-0 mx-2">Recommended to you</h2>
            </div>
        </div>
        <div class="position-relative d-flex flex-wrap justify-content-center card-section">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Laravel</h5>
                    <p class="card-text">Laravel: The Ultimate Beginner’s Guide to Learn Laravel Step by Step</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text"> Angular - the complete guide for beginner</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Node.js</h5>
                    <p class="card-text"> Beginning Node.js, Express & MongoDB Development</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text"> Applying JavaScript and using the console.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

        </div>
    </div>
    <div class="container mt-5">
        <div class="mb-4">
            <div class="col heading-cards ">
                <h2 class="mb-0 mx-2">Popular Courses</h2>
            </div>
        </div>
        <div class="position-relative d-flex flex-wrap justify-content-center card-section">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Laravel</h5>
                    <p class="card-text">Laravel: The Ultimate Beginner’s Guide to Learn Laravel Step by Step</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text"> Angular - the complete guide for beginner</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Node.js</h5>
                    <p class="card-text"> Beginning Node.js, Express & MongoDB Development</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">JavaScript</h5>
                    <p class="card-text"> Applying JavaScript and using the console.</p>
                    <a href="#" class="btn btn-primary">Buy Now</a>
                </div>
            </div>

        </div>
    </div>
</div>