<div class="category">
  <nz-divider nzDashed [nzText]="text">
    <ng-template #text>
    <h2>Select Category</h2>
    </ng-template>
  </nz-divider>
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let category of categories">
        <div class="col-4 my-3">
            <div class="card" style="width:100%;">
                <img [src]="category.image" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title bold">{{category.name}}</h3>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button nz-button nzType="primary" (click)="viewProductsFromCategories(category.id, category.name)">View Products</button>
                </div>
              </div>
          </div>
      </ng-container>
    </div>
    
  
 
</div>
</div>
