<div class="container">
    <div class="row">
        <div class="book-list d-flex border py-5">
            <div class="col-sm-6">
                <div class="product-img text-center p-sm-3">
                    <img src="../../../assets/images/books/laravel.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="product-desc p-sm-4">
                    <div class="d-flex justify-content-between">
                        <p class="heading fw-700 lh-32 fs-32">Laravel 5</p>
                        <p class="author fw-400 fs-16 lh-24">Author |&nbsp;<span class="fw-700">John Doe</span> </p>
                    </div>
                    <p class="paperback fw-400">Paperback | English</p>
                    <p class="fw-400 fs-16 lh-32">Build a fully-fledged, feature-rich application from scratch using Laravel. You'll learn by doing, not simply studying. At the end of each step, not only will you have learned a new skill, trick or technique - but you'll have built another feature of your first hand-crafted Laravel application. You'll go beyond the Laravel framework itself as we take a look at some of the skills any professional developer needs, to take your career - or indeed hobby - to the next level.
                        <span class="primary-color fs-16 lh-24 fw-600 cursor-pointer text-decoration-underline" (click)="navigateProDetails()"> Learn More</span>
                    </p>
                    <p class="fw-700 fs-32 lh-24 mt-3">$100 <span class="text-decoration-line-through fs-16">$120</span></p>
                
                    <div class="shop-btn mt-4">
                        <button mat-stroked-button color="warn" class="me-4">Add to Cart</button>
                        <button mat-flat-button color="warn" class="" (click)="navigatePayment()">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>