<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-4">	
                    <!-- <fa-icon [icon]="circleCheck" class="fa_icon"></fa-icon> -->
                    ADDRESS
                </div>
                    	
                <div class="col-4">
                    <!-- <mat-icon>check_circle_outline</mat-icon> -->
                        PAYMENT
                </div>
                <div class="col-4">
                    <!-- <mat-icon>check_circle_outline</mat-icon> -->
                    CONFIRMATION
                </div>
            </div>
            <div>
                <div></div>
                <div>
                    <p class="fw-700 fs-24 lh-32 mb-0">Address</p>
                    <P class="fw-400 fs-16 lh-24">SHIPPING DETAILS</P>
                </div>
               
            </div>
        </div>
        <div class="col-md-5">
        </div>
    </div>

</div>