
@use "@angular/material" as mat;
@include mat.core();
$angular-assignment-primary: mat.define-palette(mat.$indigo-palette);
$angular-assignment-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$angular-assignment-warn: mat.define-palette(mat.$red-palette);
$angular-assignment-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-assignment-primary,
      accent: $angular-assignment-accent,
      warn: $angular-assignment-warn,
    ),
  )
);
@include mat.all-component-themes($angular-assignment-theme);

@include mat.core();
$angular-assignment-primary: mat.define-palette(mat.$indigo-palette);
$angular-assignment-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$angular-assignment-warn: mat.define-palette(mat.$red-palette);
$angular-assignment-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-assignment-primary,
      accent: $angular-assignment-accent,
      warn: $angular-assignment-warn,
    ),
  )
);

@include mat.all-component-themes($angular-assignment-theme);

/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap");

/* Importing Datepicker SCSS file. */

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

:root {
  --primary-color: #f06543;
  --primary-platinim: #e8e9eb;
  --pimary-oynx: #313638;
  --primary-aliceblue: #e9f1f7;
  --secondary-oynx: #131b23;
  --primary-curve: #0099ff;
  --primaryfont: "Work Sans", sans-serif;
}

// Scroll Bar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pimary-oynx);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  font-family: var(--primaryfont);
}

html,
body {
  height: 100%;
}

::ng-deep body {
  margin: 0;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

.login .mat-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
  width: 70% !important;
  margin: auto !important;
}

.product-page .mat-dialog-container {
  padding: 0 !important;
  transform: none !important;
  margin: 17px auto !important;
}

// Utility Classes
.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}
.fw-400 {
  font-weight: 400 !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-32 {
  font-size: 32px !important;
}
.fs-50 {
  font-size: 50px !important;
}

.lh-16 {
  line-height: 16px !important;
}
.lh-55 {
  line-height: 55px !important;
}

.lh-32 {
  line-height: 32px !important;
}

.lh-24 {
  line-height: 24px !important;
}

.p-18 {
  padding: 18px !important;
}
.primary-color {
  color: var(--primary-color) !important;
}
.cursor-pointer {
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ant-btn-primary {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  transition: all 0.5s;
}
div.ant-notification.ant-notification-topRight {
  top: 100px !important;
}
.fs-70{
  font-size: 70px;
}
