
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-assignment-primary: mat.define-palette(mat.$indigo-palette);
$angular-assignment-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-assignment-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-assignment-theme: mat.define-light-theme((
  color: (
    primary: $angular-assignment-primary,
    accent: $angular-assignment-accent,
    warn: $angular-assignment-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-assignment-theme);

/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@400&display=swap');

/* Importing Datepicker SCSS file. */

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
:root {
    --primary-color: #F06543;
    --primary-platinim: #e8e9eb;
    --pimary-oynx: #313638;
    --primary-aliceblue: #E9F1F7;
    --secondary-oynx: #131B23;
    --primary-curve: #0099ff;
}

// Scroll Bar 
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 40px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--pimary-oynx);
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-full-bleed-dialog .mat-dialog-container {
  padding:0;
  overflow:hidden;
  // border-radius: 2.25rem;
}