/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@400&display=swap');

/* Importing Datepicker SCSS file. */

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
:root {
    --primary-color: #F06543;
    --primary-platinim: #e8e9eb;
    --pimary-oynx: #313638;
    --primary-aliceblue: #E9F1F7;
    --secondary-oynx: #131B23;
    --primary-curve: #0099ff;
}

// Scroll Bar 
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 40px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--pimary-oynx);
    border-radius: 10px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  