<div class="container mb-lg-5">
    <div class="row">
        <div class="col-md-6 w-50 mt-5 border m-auto p-4">
            <p class="fs-2">Change Password</p>
            <hr>
            <div class="mb-3">
                <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
                    <label for="exampleFormControlInput1" class="form-label">Password</label>
                    <input type="password" class="form-control mb-3 mt-3" id="exampleFormControlInput1"
                        placeholder="Enter New Password" formControlName="changepassword"/>
                    <span class="text-danger error_text"
                        *ngIf="submitted && changePassword.get('changePassword')?.errors?.['required']">Enter
                        Password</span>
                    <span class="text-danger error_text" *ngIf="changePassword.get('changepassword')?.errors?.['maxlength']">Enter Password between 6 to 11 Character </span> 
                    <span class="text-danger error_text" *ngIf="changePassword.get('changepassword')?.errors?.['whitespace']">No Whitespace Allowed</span>
                    <div><button mat-raised-button color="warn" type="submit" class="mt-2">Save Changes</button></div>
                </form>
            </div>

        </div>
    </div>
 
</div>