<div class="pt-9 pb-9 bg-white ">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12  ">
        <div class="text-center mb-5 mt-4">
          <h1 class=" display-2 fw-bold">Geeks Newsroom</h1>
          <p class="lead">Our features, journey, tips and us being us. Lorem ipsum dolor sit amet, accumsan in, tempor
            dictum neque.</p>
        </div>
        <form class="row px-md-20">
          <div class="mb-3 col ps-0 ms-2 ms-md-0"><input placeholder="Email Address" type="email" id="formBasicEmail"
              class="form-control"></div>
          <div class="mb-3 col-auto ps-0"><button type="submit" class="btn btn-primary">Submit</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Section 2  -->
<div class="pb-12 bg-white">
  <div class="container mt-5 card-container">
    <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">

      <!-- Item -->
        <div class="col pb-3"  *ngFor="let article of blogArray">
          <article class="card border-0 shadow-sm h-100">
            <div class="position-relative">
              <a [routerLink]="['/blog-article', article['id']]" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
              <a [routerLink]="['/blog-article', article['id']]"
                class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3"
                data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Read later">
              </a>
              <img src="{{ article['imageURL'] }}" class="card-img-top" alt="Image" height="280">
            </div>
            <div class="card-body pb-4">
              <div class="d-flex align-items-center justify-content-between mb-3">
                <a [routerLink]="['/blog-article', article['id']]" class="badge fs-sm text-nav text-decoration-none">{{article['tutorial']}}</a>
                <span class="fs-sm text-muted"> {{article['date']}} </span>
              </div>
              <h3 class="h5 mb-0">
                <a [routerLink]="['/blog-article', article['id']]"> {{article['title']}}</a>
              </h3>
            </div>
            <div class="card-footer py-4">
              <a [routerLink]="['/blog-article', article['id']]" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                <img src="{{ article['profileImgURL'] }}" class="rounded-circle me-3"
                  width="50" height="50" alt="Avatar">
                {{article['author']}}
              </a>
            </div>
          </article>
        </div>

      
      <!-- <div class="col pb-3">
              <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                  <a [routerLink]="['/blog-article', article['id']]" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a [routerLink]="['/blog-article', article['id']]" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Read later"
                  </a>
                  <img src="../../../assets/images/photo-1508976594853-a50fce4ad397.avif" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a [routerLink]="['/blog-article', article['id']]" class="badge fs-sm text-nav text-decoration-none">Processes &amp; Tools</a>
                    <span class="fs-sm text-muted">12 hours ago</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a [routerLink]="['/blog-article', article['id']]">Five Effective Lead Generation Techniques For Your Business</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a [routerLink]="['/blog-article', article['id']]" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="../../../assets/images/hero-img.c1489dfacfd7fadae59a.png" class="rounded-circle me-3" width="48" alt="Avatar">
                    Esther Howard
                  </a>
                </div>
              </article>
            </div> -->

      <!-- Item -->
      <!-- <div class="col pb-3">
              <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                  <a [routerLink]="['/blog-article', article['id']]" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a [routerLink]="['/blog-article', article['id']]" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Read later"
                  </a>
                  <img src="../../../assets/images/photo-1508976594853-a50fce4ad397.avif" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a [routerLink]="['/blog-article', article['id']]" class="badge fs-sm text-nav text-decoration-none">Digital</a>
                    <span class="fs-sm text-muted">Oct 9, 2021</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a [routerLink]="['/blog-article', article['id']]">Inclusive Marketing: Why and How Does it Work?</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a [routerLink]="['/blog-article', article['id']]" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="../../../assets/images/hero-img.c1489dfacfd7fadae59a.png" class="rounded-circle me-3" width="48" alt="Avatar">
                    Jane Cooper
                  </a>
                </div>
              </article>
            </div> -->

      <!-- Item -->
      <!-- <div class="col pb-3">
              <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                  <a [routerLink]="['/blog-article', article['id']]" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a [routerLink]="['/blog-article', article['id']]" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Read later"
                  </a>
                  <img src="../../../assets/images/photo-1508976594853-a50fce4ad397.avif" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a [routerLink]="['/blog-article', article['id']]" class="badge fs-sm text-nav text-decoration-none">Marketing</a>
                    <span class="fs-sm text-muted">Apr 2, 2021</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a [routerLink]="['/blog-article', article['id']]">How Agile is Your Forecasting Process?</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a [routerLink]="['/blog-article', article['id']]" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="../../../assets/images/hero-img.c1489dfacfd7fadae59a.png" class="rounded-circle me-3" width="48" alt="Avatar">
                    Albert Flores
                  </a>
                </div>
              </article>
            </div>
   -->
      <!-- Item -->
      <!-- <div class="col pb-3">
              <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                  <a [routerLink]="['/blog-article', article['id']]" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a [routerLink]="['/blog-article', article['id']]" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Read later"
                  </a>
                  <img src="../../../assets/images/photo-1508976594853-a50fce4ad397.avif" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a [routerLink]="['/blog-article', article['id']]" class="badge fs-sm text-nav text-decoration-none">Processes &amp; Tools</a>
                    <span class="fs-sm text-muted">Sep 3, 2021</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a [routerLink]="['/blog-article', article['id']]">Your Guide to Optimising A JavaScript-enabled Website</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a [routerLink]="['/blog-article', article['id']]" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="../../../assets/images/hero-img.c1489dfacfd7fadae59a.png" class="rounded-circle me-3" width="48" alt="Avatar">
                    Ralph Edwards
                  </a>
                </div>
              </article>
            </div>
   -->
      <!-- Item -->
      <!-- <div class="col pb-3">
              <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                  <a [routerLink]="['/blog-article', article['id']]" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a [routerLink]="['/blog-article', article['id']]" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Read later"
                  </a>
                  <img src="../../../assets/images/photo-1508976594853-a50fce4ad397.avif" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a [routerLink]="['/blog-article', article['id']]" class="badge fs-sm text-nav text-decoration-none">Processes &amp; Tools</a>
                    <span class="fs-sm text-muted">Sep 10, 2021</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a [routerLink]="['/blog-article', article['id']]">A Study on Smartwatch Design Qualities and People’s Preferences</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a [routerLink]="['/blog-article', article['id']]" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="../../../assets/images/hero-img.c1489dfacfd7fadae59a.png" class="rounded-circle me-3" width="48" alt="Avatar">
                    Esther Howard
                  </a>
                </div>
              </article>
            </div> -->

      <!-- Item -->
      <!-- <div class="col pb-3">
              <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                  <a [routerLink]="['/blog-article', article['id']]" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                  <a [routerLink]="['/blog-article', article['id']]" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="" data-bs-original-title="Read later"
                  </a>
                  <img src="../../../assets/images/photo-1508976594853-a50fce4ad397.avif" class="card-img-top" alt="Image">
                </div>
                <div class="card-body pb-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                    <a [routerLink]="['/blog-article', article['id']]" class="badge fs-sm text-nav text-decoration-none">Strategy</a>
                    <span class="fs-sm text-muted">Sep 16, 2021</span>
                  </div>
                  <h3 class="h5 mb-0">
                    <a [routerLink]="['/blog-article', article['id']]">This Long-Awaited Technology May Finally Change the World</a>
                  </h3>
                </div>
                <div class="card-footer py-4">
                  <a [routerLink]="['/blog-article', article['id']]" class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <img src="../../../assets/images/hero-img.c1489dfacfd7fadae59a.png" class="rounded-circle me-3" width="48" alt="Avatar">
                    Ralph Edwards
                  </a>
                </div>
              </article>
            </div> -->
    </div>
  </div>
</div>