<div class="pt-9 pb-9 bg-white ">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12  ">
                <div class="text-center mb-5">
                    <h1 class=" display-2 fw-bold">Geeks Newsroom</h1>
                    <p class="lead">Our features, journey, tips and us being us. Lorem ipsum dolor sit amet, accumsan in, tempor dictum neque.</p>
                </div>
                <form class="row px-md-20">
                    <div class="mb-3 col ps-0 ms-2 ms-md-0"><input placeholder="Email Address" type="email" id="formBasicEmail" class="form-control"></div>
                    <div class="mb-3 col-auto ps-0"><button type="submit" class="btn btn-primary">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Section 2  -->
<div class="pb-12 bg-white">
    <div class="container mt-5 card-container">
        <div class="row">
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/3"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/3">What is PHP Function? For Beginner’s Guide</a></h3>
                        <p> Lorem ipsum dolor sit amet, accu msan in, tempor dictum nequrem ipsum </p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Lisa Menon</h5>
                                <p class="fs-6 mb-0">September 06, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">8 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/5"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/5">What is machine learning and how does it work?</a></h3>
                        <p> Lorem ipsum dolor sit amet, accu msan in, tempor dictum nequrem ipsum.ipsum dolor sit ipsum </p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Loran Sipon</h5>
                                <p class="fs-6 mb-0">September 08, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">10 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/10"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/10">Developing Agile Leadership</a></h3>
                        <p> Debitis ipsam ratione molestias dolores qui asperiores consequatur facilis error. Lorem ipsum dolor sit amet. ipsum dolor sit</p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Jerry Dom</h5>
                                <p class="fs-6 mb-0">September 13, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">12 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/11"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/11">Getting started the Web App JavaScript in 2020</a></h3>
                        <p> Debitis ipsam ratione molestias dolores qui asperiores consequatur facilis error. </p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Dustin Warren</h5>
                                <p class="fs-6 mb-0">September 13, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">6 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/13"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/13">What is Cyber Security? A Beginner’s Guide</a></h3>
                        <p> Lorem ipsum dolor sit amet, accu msan in, tempor dictum nequrem ipsum </p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Maria Pinto</h5>
                                <p class="fs-6 mb-0">September 07, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">15 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/14"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/14">The Best DevOps Tools for Your Application Lifecycle</a></h3>
                        <p> Inventore pariatur veritatis maxime fugiat sint dolorem quas culpa officiis nemo quis! </p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Dustin Warren</h5>
                                <p class="fs-6 mb-0">September 09, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">12 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/17"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/17">How to become WebDesinger?</a></h3>
                        <p> Vero expedita voluptatibus cumque sunt ullam cum natus, vitae provident debitis pariatur? </p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Lucy Kolin</h5>
                                <p class="fs-6 mb-0">September 05, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">20 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/20"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/20">How to Become a Data Scientist?</a></h3>
                        <p> Nulla voluptate in facere saepe est alias et iste, accusantium sint enim! </p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Miron Sulla</h5>
                                <p class="fs-6 mb-0">September 05, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">20 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex col-xl-4 col-lg-4 col-md-6 col-sm-12 p-card">
                <div class="mb-4 shadow-lg card">
                    <a href="/marketing/blog/article-single/22"><img class="card-img-top rounded-top-md img-fluid" src="../../assets/images/photo-1508976594853-a50fce4ad397.avif"></a>
                    <div class="card-body">

                        <h3><a class="text-inherit" href="/marketing/blog/article-single/22">How to become modern Stack Developer in 2020</a></h3>
                        <p> Lorem ipsum dolor sit amet, accu msan in, tempor dictum nequrem ipsum </p>
                        <div class="align-items-center g-0 mt-4 row cardinfo">

                            <div class="col lh-1 col">
                                <h5 class="mb-1">Reva Yokk</h5>
                                <p class="fs-6 mb-0">September 05, 2020</p>
                            </div>
                            <div class="col-auto col">
                                <p class="fs-6 mb-0">20 Min Read</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>